*{
  box-sizing: border-box;
}
body{
  font-family: "Forum", serif;
  margin: 0;
  padding: 0;
}

.hero{
  min-height: 90vh;
  background-color: #f08e80;
  color: white;
  display: inline-block;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar .links a{
  margin-right: 16px;
  font-size: 1.2rem;
}

.navbar p{
  font-size: 2rem;
  font-weight: bold;
  margin:0;
}

.navbar .contact{
  background-color: white;
  color:#f08e80;
  padding: 1rem 1.5rem;
  
}

.navbar .contact:hover{
  opacity: 0.8;
}

.hero-content{
  padding: 0 15%;
}

.tagline{
  font-size: 4.5rem;
  letter-spacing: 2px;
  padding: 32px 0;
}

.two-column-section{
  font-size: 2rem;
}
.two-column-section > *{
  width: 50%;
  float: left;
}

.two-column-section .skills{
  width: 50%;
  float: left;
  padding: 0;
  list-style: none;
}

.two-column-section .skills li{
  width: 50%;
  float: left;
  font-size: 1.25rem;
  margin: 8px 0;
}

.blog-section{
  padding: 64px 0;
}

.blog-content{
  padding: 0 15%;
}

.blog-heading{
  letter-spacing: 1px;
}

.blog-text,
.event-location{
  font-size: 1rem;
}

.blog-posts p{
  margin: 8px 0;
}

p.blog-date,
.events-card p.event-date
{
  margin-bottom: 32px;
  color: grey;
  font-size: 0.9rem;
}

.blog-title{
  font-size: 1.5rem;
}

.blog-posts{
  margin-top:24px;
}


.events-section{
  background-color: #fdf0e6;
  padding: 64px 0;
  display: inline-block;
  width: 100%;
}

.events-content{
  padding: 0 15%;
}

.events-card p{
  margin: 8px 0;
}

.event-title{
  font-size: 1.5rem;
}
.events-card{
  margin-top: 32px;
}

footer{
  background-color: black;
  color:white;
  padding: 64px 0;
}

footer em{
  color:red;
}

footer p{
  font-size: 1.5rem;
  margin: 16px 0;
}

footer img{
  width: 2rem;
  height: 2rem;
}

footer img:first-child{
  margin-right: 16px;
}

.footer-content{
  text-align: center;
}

@media only screen and (max-width: 1000px){
  .hero-content,
  .blog-content,
  .events-content{
    padding: 0 5%;
  }
}

@media only screen and (max-width: 750px){
  .hero-content .two-column-section p:first-child{
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .hero-content .tagline{
    font-size: 3.5rem;
    margin: 0;
  }

  .two-column-section > p,
  .two-column-section .skills,
  .two-column-section .blog-posts{
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  .hero-content .tagline{
    font-size: 2.5rem;
  }

  .hero .navbar .links {
    display: none;
  }

  .hero .navbar p{
    font-size: 1.5rem;
  }
}

